

<form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
  <div class="container">
    <div class="col-xs-1 col-md-5 col-md-OffSet">
      
  <h2 class="form-signin-heading" style="text-align: center;">Please sign in</h2>

  <div class="form-group">
  
    <label for="inputemail" class="sr-only">Email:</label>
    <input  type="email"  name="email" class="form-control" 
    formControlName="Email" placeholder="Email"  ngModel required autofocus>
  
  </div>
    
  <div class="form-group">
    <label for="inputpassword" class="sr-only">Password</label>
    <input type="password"  name="password" class="form-control" 
    formControlName="password" placeholder="Password" ngModel required>
  </div>
  
  <div style="padding-left:100px;">
   <button type="submit" class="btn btn-primary" [disabled]="!loginForm">Login</button>
   <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>



</div>
</div>
</form>