<!-- <!doctype html>
<html lang="en"> -->
  <!-- <body> -->
      <div class="container">
    <header style="text-align: center;"><h3><b>Product List</b></h3></header>
    <hr>
    <div>
        <a routerLink="product-create-component" class="nav-link"><b>Add Product</b></a>
        <div style="float: right;">
            <button class="btn btn-primary" type="button" (click)="deleteAllProducts()">DeleteAllProducts</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            Product Filter <input type="text" [(ngModel)]="filteredProduct">
            Available Products <input type="text" [(ngModel)]="filteredStatus">
            <br>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"
                *ngFor="let product of products | filter: filteredProduct: 'name' | filterProduct : filteredStatus: 'productAvailable'"
                > 
                <span class="badge" style="float:right" > 
                    {{ product.productAvailable }}
                   </span>
               <span><strong>Name : {{product.name}}</strong></span> | <br>
                    <span><strong>Price : {{product.price}}</strong></span> | <br>
                    <span><strong>Details : {{product.desc}}</strong></span> | <br>
               
               
                <br>
                </li>
            </ul>
        </div> 

    </div>
</div>
   <!-- <div class='table-responsive'>
   <table class='table'>
       <thead>
           <tr>
               <th>Name</th>
               <th>Price</th>
               <th>Details</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let product of products;">
               <td><a>{{product.name}} </a> </td>
               <td>{{product.price}}</td>
               <td>{{product.desc}}</td>
           </tr>
       </tbody>
     </table>
  </div> -->
  
  <!-- </body>
</html> -->
<router-outlet></router-outlet>